#headerlogo{
    width: 30%;
}
.font-navbar{
    font-size: 69%;
}
#imagecard{  
     width: 30%;
}
#divimage{
    padding-left: 40%;
}
.card{

}
#whatwedo{
    color: rgb(97, 142, 216);
}
#lastsec{
    border-radius: 2%;
    padding: 2%;
  
}
#seclast{
    background-color: rgb(63, 42, 106);
    margin-top: 3%;
}
#footer{
    background-color: rgb(12, 12, 65);
}
#privacykey{
    text-decoration: none;
    
}